@model Blog.BLL.DTO.CategoryDTO

@{
    ViewData["Title"] = "Kategori Güncelle";
    Layout = "~/Areas/Process/Views/Shared/_Layout.cshtml";
}

<h1>Kategori Güncelle</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group"><input type="hidden" asp-for="CategoryID" /></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Kategori Adı</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Düzenle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

