
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Areas/Blog/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-8">
    <div class="card mb-4">
        <a href="/Blog/Home/Last10Articles"><img class="card-img-top" src="~/Images/blog.jpg" width="850" height="350" /></a>
        <div class="card-body">
            <h2 class="card-title">En Yeni 10 Makale</h2>
            <p class="card-text">En Güncel Makaleler..</p>
            <a class="btn btn-primary" href="/Blog/Home/Last10Articles">Git →</a>
        </div>
    </div>
</div>
<div class="col-lg-4">
    @await Component.InvokeAsync("BlogCategories")
    <div class="card mb-4">
        <div class="card-header">En Çok Tıklanan 10 Makale</div>
        <div class="card-body">En İlgi Çekici Makaleler Burada!</div>
        <a class="btn btn-primary" href="/Blog/Home/Top10Articles">Git →</a>
    </div>
</div>


<h3 class="text-center">En Çok Tıklanan 10 Makale</h3>
<div class="row">
        @await Component.InvokeAsync("Top10Articles")
</div>



