@model Blog.BLL.DTO.UserDTO

@{
    ViewData["Title"] = "Üye Ol";
    Layout = "~/Areas/Process/Views/Shared/_Layout.cshtml";
}

<h1>Üye Ol</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" asp-controller="User" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Ad</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label">Soyad</label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Kullanıcı Adı</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Şifre</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Üye Ol" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

